<div class="main-wrapper" id="page-about">
    <div id="content-about">
        <div class="content container">
                <h2  class="title-h2 text-center bottom-39">{% t about.out_vision %}</h2> 
                <div class="col-md-2"></div>
                <div class="col-md-8"><p>Cum an oblique definitionem, justo persius duo et. Eu liberavisse suscipiantur has. Lorem ipsum dolor sit amet, ad luptatum evertitur persequeris vix, ei sanctus voluptua mea. Duo ne suas theophrastus.</p>
                    <p>  Duo et everti fierent scriptorem, ea est unum assentior, et vis oratio alterum appetere. Percipit sapientem mea te, te partem graeci iuvaret nec. Vix ad virtute habemus prodesset, an ius quot iriure, ne eam purto nobis.
Ut vis doming abhorreant. Usu graece periculis ne, audiam percipitur eu qui. Dico pertinax senserit per no. Et elit solet exerci cum, ferri posidonium ne qui.</p>
                </div>
                <div class="col-md-2"></div>
        </div>
    </div>
    <div id="roadmap">
                <div class="dont-skew">
                    <div class="over-flow">
                        <img class="arrow-1 arrowf" src="{{ site.url }}/assets/images/arrow2.png" />
                        <img class="arrow-2 arrowf" src="{{ site.url }}/assets/images/arrow1.png" />
                     </div>
                    <div class="content">
                        <div class="container">
                            <h3 class="title-h3 text-center">Our Team</h3>
                            <p class="fdescription max-inherit text-center marginbttom80">
                               We gathered people who are passionate about changing our world and motivate to build a better society. Our team is composed of professionals from different industries and practices, to make sure our development is relevant to people from all disciplines  
                            </p>
                        </div>
                        <div class="container-width">
                             <div class="group-member">
                                 <h3 class="title-h3 text-center">Core Team</h3>
                                 <div class="row">
                                     
                                     <div class="col-md-4 col-sm-4 col-xs-12 list text-center parent-hover">
                                        <a class="block-hover"  href="#"><img src="{{ site.url }}/assets/images/isar.png" />
                                             <div class="content-hover ">
                                            <div class="arrow_box">
                                                Isar has 3 years of consulting experience from Ernst & Young, where he worked with Israeli startup companies. He is a veteran member of the Israeli Bitcoin Community and the president and co-founder of the Blockchain and Innovation Club at Cornell University. Isar is an MBA candidate at Cornell University and holds a LL.M and BS in Economics.</div>
                                         </div>
                                        </a>
                                        <h5 class="text-center">Isar Flis</h5>
                                        <p class="role text-center">Strategy and Operations</p>
                                        <a class="text-center icon-social" target="_blank" href="https://www.linkedin.com/in/isarflis/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                       
                                     </div>
                                     <div class="col-md-4 col-sm-4 col-xs-12 list text-center parent-hover">
                                        <a class="block-hover" href="#">
                                            <img src="{{ site.url }}/assets/images/ohad.png" />
                                            <div class="content-hover ">
                                                <div class="arrow_box">
                                                    Ohad is a Software Developer and Mathematician on the top tech companies in Israel since 1995. He was the youngest university student in Israel, studying Mathematics and Computer Science. Of his additional fields of interests are physics, philosophy, psychology, and economics</div>
                                            </div>
                                        </a>
                                        <h5 class="text-center">Ohad Asor</h5>
                                        <p class="role text-center">Development</p>
                                        <a class="text-center icon-social"  target="_blank" href="https://www.linkedin.com/in/ohadasor/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                      
                                     </div>
                                     <div class="col-md-4 col-sm-4 col-xs-12 list text-center parent-hover">
                                        <a class="block-hover"  href="#">
                                            <img src="{{ site.url }}/assets/images/georgi.png" />
                                             <div class="content-hover ">
                                            <div class="arrow_box">
                                                Karov is a Lawyer with over 20 years of post-qualified experience in number of jurisdictions. He is providing (as Behest.io) legal and consulting services for blockchain enterprises, while serving as a general counsel for ET3. Karov holds a LL.M and BS in Economics.</div>
                                            </div>
                                            </a>
                                        <h5 class="text-center">Georgi Karov</h5>
                                        <p class="role text-center">Legal</p>
                                        <a class="text-center icon-social" target="_blank" href="https://www.linkedin.com/in/georgi-karov-49486922/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                       
                                     </div>
                                 </div>
                             </div>
                             <div class="group-member section-2">
                                 <h3 class="title-h3 text-center">Advisers</h3>
                                 <div class="row">
                                     <div class="col-md-3 col-sm-6 col-xs-12 list text-center parent-hover">
                                        <a class="block-hover" href="#"><img src="{{ site.url }}/assets/images/douglas.png" />
                                            <div class="content-hover douglas">
                                            <div class="arrow_box ">
                                               DMiles is a software design & research engineer with over 30 years of experience in a number of programming languages. During his career, he had created several artificial intelligence applications for government and military contracts. Past and present he has designed the minds of some of the famous social robot companies, such as Daxtron Labs, Hanson Robotics, and Terasim Movement are known for.</div>
                                        </div>
                                        </a>
                                        <h5 class="text-center">Douglas Miles</h5>
                                        <p class="role text-center">Knowledge Representation & Reasoning</p>
                                        <a class="text-center icon-social" target="_blank"  href="https://www.linkedin.com/in/logicmoo/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                        
                                     </div>
                                     <div class="col-md-3 col-sm-6 col-xs-12 list text-center parent-hover">
                                        <a class="block-hover"  href="#"><img src="{{ site.url }}/assets/images/felix.png" />
                                             <div class="content-hover felix">
                                            <div class="arrow_box ">
                                               Felix advises a large VC on their emerging tech strategy and is interested in all kinds of complex dynamical systems. Operating in the blockchain space for many years, Felix founded a first-generation payment provider for cryptocurrencies in 2013, while operating a company that developed automated trading systems for the stock market. He studied business and economics with focus on information systems and marketing.</div>
                                            </div>
                                        </a>
                                        <h5 class="text-center">Felix Forster</h5>
                                        <p class="role text-center">Business Development</p>
                                        <a class="text-center icon-social" target="_blank" href="https://www.linkedin.com/in/felixfoerster/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                       
                                     </div>
                                     <div class="col-md-3 col-sm-6 col-xs-12 list text-center parent-hover">
                                        <a class="block-hover"  href="#"><img src="{{ site.url }}/assets/images/yann.png" />
                                              <div class="content-hover yann">
                                            <div class="arrow_box">
                                               Yann has abundant project management experience working in China Academy of Social Sciences, the top research institute in China. He is an entrepreneur (founded SPO and LunarX), an angel investor and a veteran in the crypto-world, where he helped building communities for various projects since 2013. Yann holds a M.Phil and B.Eng.</div>
                                            </div>
                                        </a>
                                        <h5 class="text-center">Yann Wang</h5>
                                        <p class="role text-center">Asian Market Communications</p>
                                        <a class="text-center icon-social" target="_blank" href="https://www.linkedin.com/in/yan-yan-ishere/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                      
                                     </div>
                                      <div class="col-md-3 col-sm-6 col-xs-12 list text-center parent-hover">
                                        <a class="block-hover"  href="#"><img src="{{ site.url }}/assets/images/juan.png" />
                                            <div class="content-hover ">
                                                <div class="arrow_box">
                                                    Juan is a graphic illustrator with more than 20 years of experience in projects related to graphic design and 3D animation. He provides design and concept art services for top companies such as Amazon, Ubisoft and Motorola. Juan is a master and a trainer for digital drawing.
                                                </div>
                                            </div>
                                        </a>
                                        <h5 class="text-center">Juan Capitan</h5>
                                        <p class="role text-center">Design</p>
                                        <a class="text-center icon-social" target="_blank" href="https://www.linkedin.com/in/juanantonio-capitan/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                     </div>
                                 </div>
                             </div>
                        </div>
                    </div>
                </div>
        </div>
    {% include networks.html %}
</div>