<div class="main-wrapper">
 
  <div class="keyart" id="parallax">
    <div class="keyart_layer parallax" id="keyart-agoras-1"
    data-speed="5" style="transform: translate3d(0px, 0px, 0px)">
    </div><!-- 00.0 -->
    <div class="keyart_layer parallax" id="keyart-agoras-2"
    data-direct="right" data-speed="25" style=
    "transform: translate3d(0px, 0px, 0px)"></div><!-- 12.5 -->
    <div class="keyart_layer" id="keyart-agoras-3" data-speed="35"
    style="transform: translate3d(0px, 0px, 0px)"></div>
    <!-- 37.5 -->
    <!--<div class="keyart_layer " id="keyart-agoras-4" data-speed="35" style="transform: translate3d(0px, 0px, 0px)"></div>-->
  </div>
   <div id="background-mobile-agoras"></div>
  <div id="wrapper-content">
    <div class="background-home bg-agoras">
      <div class="background-roots parallax" style=
      "transform: translate3d(0px, 0px, 0px)" data-speed="20">
      </div>
    </div>
    <div class="content-about">
      <div class="container">
        <h2 class="title-h2">
          What is Agoras?
        </h2>
        <div class="col-md-2"></div>
        <div class="col-md-8">
          
          <p>
            Agoras is a new, smart economy, where everyone can
            generate income by conducting knowledge-based
            transactions. Leveraging Tau’s design and architecture,
            Agoras will connect users with relevant knowledge to
            solve complex problems in different disciplines. Agoras
            will use its own smart contract capabilities to avoid
            fraudulent activities, set transaction price and verify
            “shipping” of knowledge. As AGRS will inherit Tau's
            architecture, the parameters of AGRS will be dynamic
            and can be changed based on the community desire
          </p>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
    <div id="features">
      <div class="dont-skew">
        <img class="arrow-1 arrowf" src=
        "{{site.url}}/assets/images/arrow2.png" /> <img class=
        "arrow-2 arrowf" src=
        "{{site.url}}/assets/images/arrow1.png" />
        <div class="container">
          <div class="content">
            <h3 class="text-center title-h3">
              Agoras Main Features
            </h3>
            <ul class="list-feature">
              <li class="col-md-4 col-sm-6">
                <!--wave center-->
                <div class="text-center this-is-wave-center">
                  <img class="fimage" src=
                  "{{site.url}}/assets/images/icon-economy-v2.png"
                  alt="icon-economy" />
                </div>
                <h5 class="text-center h5-title">
                  Knowledge Economy
                </h5>
                <p class="text-center fdescription">
                  With all facilities to create a fully featured
                  economy, including production, shipment, pricing,
                  supply, demand, and arena.
                </p>
              </li>
              <li class="col-md-4 col-sm-6">
                <div class="text-center this-is-wave-center">
                  <img class="fimage" src=
                  "{{site.url}}/assets/images/icon-market.png" alt=
                  "icon-market" />
                </div>
                <h5 class="text-center h5-title">
                  Computational Resources Market
                </h5>
                <p class="text-center fdescription">
                  To be able to rent or rent out computational
                  resources.
                </p>
              </li>
              <li class="col-md-4 col-sm-6">
                <div class="text-center this-is-wave-center">
                  <img class="fimage" src=
                  "{{site.url}}/assets/images/icon-financial.png"
                  alt="icon-financial" />
                </div>
                <h5 class="text-center h5-title">
                  Advanced finaicials
                </h5>
                <p class="text-center fdescription">
                  Including for example the ability to obtain
                  risk-free interest without any creation of new
                  money.
                </p>
              </li>
              <li class="col-md-2"></li>
              <li class="col-md-4 col-sm-6">
                <div class="text-center this-is-wave-center">
                  <img class="fimage" src=
                  "{{site.url}}/assets/images/icon4.png" alt=
                  "icon-collaboration" />
                </div>
                <h5 class="text-center h5-title">
                  Vel maiorum reprehendunt ad
                </h5>
                <p class="text-center fdescription">
                  Cum maiorum voluptaria omittantur te. Qui
                  eligendi pericula ea, no primis graeci ius, id
                  mel utroque volumus .
                </p>
              </li><!--<li class="col-md-4">
                                <div class="text-center this-is-wave-center"><img class="fimage" src="/assets/images/icon-discuss.png" alt="icon-discuss" /></div>
                                <h5 class="text-center h5-title">Discussion<h5>
                                <p class="text-center fdescription">Cum maiorum voluptaria omittantur te. Qui eligendi pericula ea, no primis graeci ius, id mel utroque volumus voluptua.</p>
                            </li>-->
              <li class="col-md-4 col-sm-6">
                <div class="text-center this-is-wave-center">
                  <img class="fimage" src=
                  "{{site.url}}/assets/images/icon5.png" alt=
                  "icon-choice" />
                </div>
                <h5 class="text-center h5-title">
                  Dictas pertinax tractatos ex nam
                </h5>
                <p class="text-center fdescription">
                  Quem vocent sanctus sea ex. At quem augue virtute
                  eos, quo odio graeci accusamus ad, sit nihil
                  rationibus id.
                </p>
              </li>
              <li class="col-md-2"></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="roadmap" class="bg_white">
      <div class="dont-skew">
        <div class="content">
          <div class="container">
            <h3 class="title-h3 text-center marginBottom5">
              Our Cryptocurrency (AGRS)
            </h3>
            <p class=
            "fdescription max-inherit text-center marginbttom50">
              All of the transactions under the Agoras economy will
              be conducted with the Agoras cryptocurrency (AGRS).
              AGRS will enjoy advanced financials capabilities,
              including the ability to obtain risk-free interest
              without any creation of new money
            </p>
          </div>
          <div class="container">
            <h3 class="title-h3 text-center">
              Exchanges
            </h3>
            <p class="price text-center">
              $2,50/Agoras
            </p>
            <ul class="list-price">
              <li class="bg1">
                <div class="parent-block">
                  <div class="child-block">
                    <span>Omni DEX</span> <a class="buy" href=
                    "#">Buy Now</a>
                  </div>
                </div>
              </li>
              <li class="bg2">
                <div class="parent-block">
                  <div class="child-block">
                    <span>Omni DEX</span> <a class="buy" href=
                    "#">Buy Now</a>
                  </div>
                </div>
              </li>
              <li class="bg3">
                <div class="parent-block">
                  <div class="child-block">
                    <span>Omni DEX</span> <a class="buy" href=
                    "#">Buy Now</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>{% include networks.html %}
  </div>
</div>