        </main>
        <footer>
            <div id="footer-contact">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            <a href="/"><img class="logo" alt="TAU-LOGO" src="{{site.url}}/assets/images/logo.png" /></a>
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <div class="row fmenu">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <a href="{{site.url}}/" alt="Tau">Tau</a>
                                    <a href="{{site.url}}/agoras" alt="Agoras">Agoras</a>
                                </div>
                                  <div class="col-md-6 col-sm-6 col-xs-12">
                                    <a href="{{site.url}}/about" alt="About">About</a>
                                    <a href="{{site.url}}/blog" alt="Blog">Blog</a>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <ul class="list-in">
                                <li><i class="fa fa-envelope" aria-hidden="true"></i> support@idni.org</li>
                                <!--<li><i class="fa fa-map-marker" aria-hidden="true"></i>55674 Mittie Ranch, Kiehntown, WY 40928-2962</li>
                                <li><i class="fa fa-envelope" aria-hidden="true"></i> support@idni.org</li>
                                <li><i class="fa fa-phone" aria-hidden="true"></i> +12345 678 999</li>-->
                                <li class="list-download"><a download  href="{{site.url}}/assets/images/logo.png">Download Logo</a></li>
                            </ul>
                        </div>
                      </div>
                </div>
            </div>
            <div class="footer-color">
                <div class="parent-block">
                    <div class="child-block">
                        <span>Copyright © 2018 IDNI.   All rights reserved.</span>
                        <span>|</span>
                        <a href="#" alt="Term and Conditions">Term and Conditions</a>
                    </div>
                </div>
            <div>
        </footer>
    </body>
    <script src="{{site.url}}/assets/js/jquery-3.3.1.min.js"  crossorigin="anonymous"></script>
    <script src="{{site.url}}/assets/js/bootstrap.min.js"  crossorigin="anonymous"></script>
    <script src="{{site.url}}/assets/js/video.js"  crossorigin="anonymous"></script>
    <script src="{{site.url}}/assets/js/aos.js"  crossorigin="anonymous"></script>
    <script src="{{site.url}}/assets/js/main.js"  crossorigin="anonymous"></script>
</html>