<div class="main-wrapper">

  <div class="keyart" id="parallax">
    <div class="keyart_layer parallax" id="keyart-0" data-speed="5"
    style="transform: translate3d(0px, 0px, 0px)"></div>
     <div class="keyart_layer parallax" id="keyart-1b" data-direct="top" data-speed=
    "50" style="transform: translate3d(0px, 0px, 0px)"></div>
    <!-- 00.0 -->
    <div class="keyart_layer parallax" id="keyart-1"  data-speed=
    "25" style="transform: translate3d(0px, 0px, 0px)"></div>
   
    <!-- 12.5 -->
    <div class="keyart_layer parallax" id="keyart-3" data-speed=
    "35" style="transform: translate3d(0px, 0px, 0px)"></div>
    <!-- 37.5 -->
    <div class="keyart_layer parallax" id="keyart-4" data-speed=
    "45" style="transform: translate3d(0px, 0px, 0px)"></div>
    <!-- 50.0 -->
    <div class="keyart_layer parallax" id="keyart-5" data-speed=
    "55" style="transform: translate3d(0px, 0px, 0px)"></div>
    <!-- 62.5 -->
    <div class="keyart_layer parallax" id="keyart-6" data-speed=
    "65" style="transform: translate3d(0px, 0px, 0px)"></div>
    <!-- 75.0 -->
    <div class="keyart_layer" id="keyart-scrim"></div>
    <div class="keyart_layer parallax" id="keyart-7" data-speed=
    "70" style="transform: translate3d(0px, 0px, 0px)"></div>
    <!-- 87.5 -->
    <div class="keyart_layer parallax" id="keyart-8" data-speed=
    "45" style="transform: translate3d(0px, 0px, 0px)"></div>
    <!-- 100. -->
    <div class="keyart_layer" id="keyart-9" data-speed="95" style=
    "transform: translate3d(0px, 0px, 0px)"></div>
  </div>
  <div id="background-mobile-home"></div>
  <div id="wrapper-content">
    <div class="background-home">
      <div class="width-55">
        <div data-aos="fade-down" data-aos-delay="700"  data-aos-offset="1000"  data-aos-anchor=""><img class="width-100 max-width-100 roots" src=
        "{{site.url}}/assets/images/roots.png" /> </div>
      </div>
      <div id="section-download" class="hidden">
        <ul>
          <li>
            <a download="" href=
            "{{site.url}}/assets/images/documents/Whitepaper_TauChain_EN.pdf">
            <img src="{{site.url}}/assets/images/pdfbtn.png" alt=
            "download-document" /> <span>White paper
            (EN)</span></a>
          </li>
          <li>
            <a download="" href=
            "{{site.url}}/assets/images/documents/Whitepaper_TauChain_CN.pdf">
            <img src="{{site.url}}/assets/images/pdfbtn.png" alt=
            "download-document" /> <span>White paper
            (CN)</span></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="content-about" >
      <div class="container">
        <h2 class="title-h2">
         {% t tau.what_is_tau_chain %}
        </h2>
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <p>
           {% t tau.content_what_is_tau_chain %}
          </p>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
    <div id="features">
      <div class="dont-skew">
         <div data-aos="fade-down" data-aos-delay="600" data-aos-anchor="#features">
              <img class="arrow-1 arrowf" src=
        "{{site.url}}/assets/images/arrow2.png" /> 
        <img class=
        "arrow-2 arrowf" src=
        "{{site.url}}/assets/images/arrow1.png" />
           </div>
      
        <div class="container">
          <div class="content">
            <h3 class="text-center title-h3">
              Tau-chain Main Features
            </h3>
            <ul class="list-feature">
              <li class="col-md-4 col-sm-6 col-xs-12">
                <!--wave center-->
                <div class="text-center this-is-wave-center">
                  <img class="fimage" src=
                  "{{site.url}}/assets/images/icon-language.png"
                  alt="icon-language" />
                </div>
                <h5 class="text-center h5-title">
                  Language
                </h5>
                <p class="text-center fdescription">
                  We build the Internet of Languages, featuring Tau
                  Meta Language (TML), a self-defining meta
                  language for defining and translating new
                  languages.
                </p>
              </li>
              <li class="col-md-4 col-sm-6 col-xs-12">
                <div class="text-center this-is-wave-center">
                  <img class="fimage" src=
                  "{{site.url}}/assets/images/icon-knowledge.png"
                  alt="icon-knowledge" />
                </div>
                <h5 class="text-center h5-title">
                  Knowledge
                </h5>
                <p class="text-center fdescription">
                  Using any knowledge-representation language
                  defined in TML, knowledge can be shared and
                  stored in one place.
                </p>
              </li>
              <li class="col-md-4 col-sm-6 col-xs-12">
                <div class="text-center this-is-wave-center">
                  <img class="fimage" src=
                  "{{site.url}}/assets/images/icon-economy.png"
                  alt="icon-economy" />
                </div>
                <h5 class="text-center h5-title">
                  Economy
                </h5>
                <p class="text-center fdescription">
                  We build Agoras, a futuristic knowledge economy,
                  to allow pure knowledge-cash transactions …<br />
                  <a class="read-more" href="{{site.url}}/blog">Read more</a>
                </p>
              </li>
              <li class="col-md-4 col-sm-6 col-xs-12">
                <div class="text-center this-is-wave-center">
                  <img class="fimage" src=
                  "{{site.url}}/assets/images/icon-collaboration.png"
                  alt="icon-collaboration" />
                </div>
                <h5 class="text-center h5-title">
                  Collaboration
                </h5>
                <p class="text-center fdescription">
                  We build the Internet of Languages, featuring Tau
                  Meta Language (TML), a self-defining meta
                  language for defining and translating new
                  languages.
                </p>
              </li>
              <li class="col-md-4 col-sm-6 col-xs-12">
                <div class="text-center this-is-wave-center">
                  <img class="fimage" src=
                  "{{site.url}}/assets/images/icon-discuss.png"
                  alt="icon-discuss" />
                </div>
                <h5 class="text-center h5-title">
                  Discussion
                </h5>
                <p class="text-center fdescription">
                  We work on solving the problem of nonscaling
                  discussions. We build a platform allowing
                  efficient discussions in any scale, by
                  human-machine-human communication.
                </p>
              </li>
              <li class="col-md-4 col-sm-6 col-xs-12">
                <div class="text-center this-is-wave-center">
                  <img class="fimage" src=
                  "{{site.url}}/assets/images/icon-choice.png" alt=
                  "icon-choice" />
                </div>
                <h5 class="text-center h5-title">
                  Choice
                </h5>
                <p class="text-center fdescription">
                  We work on an innovative, logic based, social
                  choice mechanism.
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="network">
      <div class="content">
        <div class="container">
          <div class="col-md-6 paddingTop">
            <h3 class="title-h3">
              The only dynamic decentralized social network
            </h3>
            <p class="fdescription line-26">
              When Tau’s community will face a decision to change
              Tau or its blockchain protocol, they will just need
              to express their opinions and perspectives, like we
              do today in the social networks, and Tau will
              self-amend itself based on users’ agreement.
              Considering the perspectives of the entire community
              (unlike voting) is the only way to reach a
              decentralized decision that benefits all users. Tau’s
              ability to scale discussions is the only
              decentralized solution to create a true dynamic
              protocol.
            </p>
          </div>
         <div class="col-md-6">
                        <div id="tau-video">
                            <video id="my-video" class="video-js" controls preload="auto" width="342" height="604"
                                poster="{{site.url}}/assets/images/thumbnail-video.png" 
                                data-setup="{}">
                                <source src="{{site.url}}/assets/images/media/tau-video.mp4" type='video/mp4'>
                                <source src="{{site.url}}/assets/images/media/tau-video.webm" type='video/webm'>
                                <p class="vjs-no-js">
                                To view this video please enable JavaScript, and consider upgrading to a web browser that
                                <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                                </p>
                            </video>
                        </div>
                        <p class="description-video">
                            The video above is only an illustration of Tau’s design. User discussions can focus on everyday subjects or particular disciplines (life science, politics, computer science, etc.). Only discussions about Tau’s specifications will change its protocol upon reaching an agreement
                         </p>
                    </div>
        </div>
      </div>
    </div>
    <div id="roadmap">
      <div class="dont-skew">
        <div data-aos="fade-left" data-aos-delay="900"  data-aos-offset="1000"  data-aos-anchor="#tau-video">
          <div class="over-flow">
                <img class="root-left" src=
              "{{site.url}}/assets/images/roots-left.png" />
              <img class="arrow-1 arrowf" src=
              "{{site.url}}/assets/images/arrow2.png" /> 
              <img class=
              "arrow-2 arrowf" src=
              "{{site.url}}/assets/images/arrow1.png" />
          </div>
        </div>
        <div class="content">
          <div class="container">
            <h3 class="title-h3 text-center">
              The only dynamic decentralized social network
            </h3>
            <p class=
            "fdescription max-inherit text-center marginbttom80">
              We designed a five-stage roadmap where each stage can
              support the development of the next one. We expect to
              complete the development of TML and Alpha Tau, during
              2018. Using Alpha Tau’s discussion platform an
              infinite number of developers can join the project to
              support building Beta Tau expediting its go-to-market
              date. After Beta Tau is developed, it will only be a
              matter of time until Tau-Chain is completed as all
              technical challenges will be resolved using Beta Tau.
            </p>
          </div>
          <div class="container">
            <div class="col-md-5">
              <div class="content-lines grp-2 text-right">
                <span class="timer">January 2019</span>
                <h5>
                  Alpha Version Launched
                </h5>
                <p>
                  Alpha is a social platform that allows efficient
                  discussions even among very large numbers of
                  participants. Today, an effective conversation
                  cannot be held with too many people; However,
                  Alpha will be able to scale discussions and
                  detect logical points of consensus between users
                  and allow users to explore the opinion map raised
                  in the discussion, thus enabling better knowledge
                  sharing and construction.
                </p>
              </div>
              <div class="content-lines grp-4 text-right">
                <span class="timer">November 2019</span>
                <h5>
                  Tau-Chain
                </h5>
                <p>
                  Tau is applying all previous stages to itself.
                  Tau is about perpetual collaborative development
                  of itself based on users’ agreements. It will do
                  so as a decentralized and blockchain-based p2p
                  network.
                </p>
              </div>
              <div class="content-lines grp-6 text-right">
                <span class="timer">020 Jan 2020</span>
                <h5>
                  What is Lorem Ipsum?
                </h5>
                <p>
                  Lorem Ipsum is simply dummy text of the printing
                  and typesetting industry. Lorem Ipsum has been
                  the industry's standard dummy text ever since the
                  1500s
                </p>
              </div>
              <div class="content-lines grp-8 text-right">
                <span class="timer">15 Jan 2020</span>
                <h5>
                  Where does it come from?
                </h5>
                <p>
                  Contrary to popular belief, Lorem Ipsum is not
                  simply random text. It has roots in a piece of
                  classical Latin literature from 45 BC
                </p>
              </div>
            </div>
            <div class="col-md-1">
              <div class="lines">
                <div class="sonar-0 sam-1">
                  <div class="sonar-1">
                    <div class="sonar-wrapper">
                      <div class="sonar-emitter">
                        <div class="sonar-wave"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="sonar-0 sam-2">
                  <div class="sonar-1">
                    <div class="sonar-wrapper">
                      <div class="sonar-emitter">
                        <div class="sonar-wave"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="sonar-0 sam-3">
                  <div class="sonar-1">
                    <div class="sonar-wrapper">
                      <div class="sonar-emitter">
                        <div class="sonar-wave"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="sonar-0 sam-4">
                  <div class="sonar-1">
                    <div class="sonar-wrapper">
                      <div class="sonar-emitter">
                        <div class="sonar-wave"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="sonar-0 sam-5">
                  <div class="sonar-1">
                    <div class="sonar-wrapper">
                      <div class="sonar-emitter">
                        <div class="sonar-wave"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="sonar-0 sam-6">
                  <div class="sonar-1">
                    <div class="sonar-wrapper">
                      <div class="sonar-emitter">
                        <div class="sonar-wave"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="sonar-0 sam-7">
                  <div class="sonar-1">
                    <div class="sonar-wrapper">
                      <div class="sonar-emitter">
                        <div class="sonar-wave"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="sonar-0 sam-8">
                  <div class="sonar-1">
                    <div class="sonar-wrapper">
                      <div class="sonar-emitter">
                        <div class="sonar-wave"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="content-lines grp-1">
                <span class="timer">Agust 2018</span>
                <h5>
                  TAU Meta Language (TML)
                </h5>
                <p>
                  We will start by developing a metalanguage (TML)
                  as a tool to define new languages such that they
                  all translate to each other. This will form the
                  "Internet of Languages".
                </p>
              </div>
              <div class="content-lines grp-3">
                <span class="timer">July 2019</span>
                <h5>
                  Beta Version Lauched
                </h5>
                <p>
                  Beta will advance Alpha by allowing users to
                  discuss code requirements and then automatically
                  synthesized a correct-by-construction code.
                </p>
              </div>
              <div class="content-lines grp-5">
                <span class="timer">01 Jan 2020</span>
                <h5>
                  Agoras
                </h5>
                <p>
                  A fully featured knowledge economy allowing
                  knowledge-case transactions, computational
                  resources market, and advanced financials..
                </p>
              </div>
              <div class="content-lines grp-7">
                <span class="timer">10 Jan 2020</span>
                <h5>
                  Where can I get some?
                </h5>
                <p>
                  There are many variations of passages of Lorem
                  Ipsum available, but the majority have suffered
                  alteration in some form
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>{% include networks.html %}
  </div>
</div>